@import "./shared-styles.css";

@theme inline {
  --color-primary: var(--color-tangerine-400);
  --color-primary-interact: var(--color-tangerine-600);
  --color-onPrimary: var(--color-navy-700);
  --color-onPrimary-interact: var(--color-cream-50);
  --color-surface: var(--color-cream-50);
  --color-onSurface: var(--color-navy-700);
  --color-surfaceDark: #f4f5f6;
  --color-onSurfaceDark: var(--color-navy-700);
  --color-secondary: var(--color-navy-700);
  --color-onSecondary: var(--color-cream-50);
  --color-background: var(--color-cream-50);
  --color-outline: #e2e5e9;
  --color-onImage: var(--color-cream-50);
  --color-surfaceDarker: #ababab;
  --color-onSurfaceDarker: var(--color-navy-700);
}
